{% extends "custom/masters/base_login_layout.html" %}

{% block content%}
    <div class="">
        <div class="form-part">
            <form action="{{ url_for('forgot_password') }}" method="post">
                <div class="control-group">
                    <label class="control-label" for="openid">Username</label>

                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="user" id="userID" class="form-control">
                        </div>

                    </div>
                </div>

                <div class="control-group">
                    <div class="controls row">
                        <br>
                        <div class="col-md-12">

                            <input class="btn btn-primary btn-block signin-btn" type="submit"
                                value="Email me with the change password">
                        </div>
                        <br>
                        <div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul>
                                        {% for message in messages %}
                                            <li<{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
<script>
    var url = window.location.search;
    user = url.replace("?", ''); // remove the ?
    console.log(user);
    document.getElementById("userID").value = user;
</script>
{% endblock %}