{% extends "custom/masters/base_login_layout.html" %}

{% block content%}
    <div class="">
        <div class="form-part">
            <form id="password_form" action="{{ url_for('reset_password') }}" method="post">
                <div class="control-group">
                    <label class="control-label" for="openid">New Password</label>

                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" id="pass" name="password" required>
                        </div>

                    </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="openid">Confirm Password</label>

                        <div class="controls">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" id="confpass" required>
                            </div>

                        </div>
                    </div>

                <div class="control-group">
                    <div class="controls row">
                        <br>
                        <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block signin-btn">Reset Password</button>
                                <input type="button" class="btn btn-primary btn-block signin-btn" value="Back" onClick="history.go(-1);return true;">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

<script>
/* global window,$,document */
function getQueryString() {
    var result = {};
    if(!window.location.search.length) return result;
    var qs = window.location.search.slice(1);
    var parts = qs.split("&");
    for(var i=0, len=parts.length; i<len; i++) {
        var tokens = parts[i].split("=");
        result[tokens[0]] = decodeURIComponent(tokens[1]);
    }
    return result;
}

$(document).ready(function() {
    $("#password_form").submit(function(e) {
        //var that = this;
        var qs = getQueryString();
        for(var key in qs) {
            var field = $(document.createElement("input"));
            field.attr("name", key).attr("type","hidden");
            field.val(qs[key]);
            $(this).append(field);
        }
    });
});
</script>
{% endblock%}